<!DOCTYPE html>
<html>
  <head>
    <title>Megaman X Passcode Generator</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.3.5/src/httpVueLoader.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="center">
        <label>
          <input v-model="generate" type="checkbox">
          Generate or Reverse
        </label>
      </div>
      <passcode-generator v-if="generate"></passcode-generator>
      <reverse-passcode v-else></reverse-passcode>
    </div>
    <script type="text/javascript">
      const app = new Vue({
        name: 'app',
        el: '#app',
        components: {
          'passcode-generator': httpVueLoader('./vue/mmxpasscode.vue'),
          'reverse-passcode': httpVueLoader('./vue/mmxreversepasscode.vue')
        },
        data: function () {
          return {
            generate: true
          };
        }
      });
    </script>
    <style>
      body {
          font-family: sans-serif;
      }
      .center {
          text-align: center;
      }
    </style>
  </body>
</html>
